<div class="h-full w-full flex items-center justify-center">
    <div class="flex flex-col">
        <h2 class="text-8xl font-bold italic pt-20 p-5">Sobre mí</h2>
        Información relevante pero sin aburrir y una foto
    </div>
    <img class="border-dashed border-8 border-black" src="/profile.png" alt="Profile" />
</div>