<div class="pt-20">
    <footer class="flex items-center justify-center pb-5 pt-5 w-full bg-[#cb6ce6] border-t-2 border-black">
        <img class="h-10 w-10 p-2" src="/instagram.svg" alt="Instagram"><a class="pr-10" href="https://www.instagram.com/http_naeki">Instagram</a>
        <img class="h-10 w-10 p-2" src="/whatsapp.svg" alt="WhatsApp"><a class="pr-10" href="https://wa.me/+34658824039">WhatsApp</a>
        <img class="h-10 w-10 p-2" src="/gmail.svg" alt="Email"><a class="pr-10" href="mailto:andreaojedacortes@gmail.com">Correo electrónico</a>
    </footer>
</div>