<div class="flex flex-col h-full w-full items-center justify-center">
    <div class="flex pt-20">
        <div class="flex flex-col justify-left items-end p-10 justify-center">
            <h1 class="text-9xl font-bold italic">
                ANDREA OJEDA
            </h1>
            <p class="text-2xl font-bold">Creadora de contenido UGC</p>
            <p class="italic"><a class="hover:text-pink-700" href="https://www.instagram.com/http_naeki">@http_naeki</a> || 
                <a class="hover:text-pink-700" href="mailto:andreaojedacortes@gmail.com">andreaojedacortes@gmail.com</a></p>
        </div>
        <img class="rounded-full border-dashed border-8 border-black" src="public/profile.png" alt="Profile" />
    </div>
    <div class="h-15 w-15 pt-20">
            <img class="bg-[#cb6ce6] rounded-full p-2" src="public/arrow-down.svg" alt="Flecha hacia abajo" />
    </div>
</div>