<nav class="fixed top-0 z-50 flex items-center justify-center pt-5 w-full">
    <span class="pl-5 pr-5 pt-2 pb-2 rounded-xl border-2 border-black backdrop-blur-md bg-radial from-[#ffdcd5]/25 to-[#cb6ce6]/25 from-0% to-70%">
        <button class="border border-transparent pr-2 pl-2 cursor-pointer text-[#000000] hover:text-[#ffdcd5] hover:rounded hover:bg-[#cb6ce6]">Home</button>
        <button class="border border-transparent pr-2 pl-2 cursor-pointer text-[#000000] hover:text-[#ffdcd5] hover:rounded hover:bg-[#cb6ce6]">Projects</button>
        <button class="border border-transparent pr-2 pl-2 cursor-pointer text-[#000000] hover:text-[#ffdcd5] hover:rounded hover:bg-[#cb6ce6]">Contact</button>
    </span>
</nav>