<nav class="fixed top-0 z-50 flex items-center justify-center pt-5 w-full">
    <span class="transition-transform pl-5 pr-5 pt-2 pb-2 rounded-xl border border-black backdrop-blur-sm bg-radial from-[#ffdcd5]/25 to-[#cb6ce6]/25 from-0% to-70% hover:scale-105">
        <button class="transition-transform italic font-bold pr-2 pl-2 cursor-pointer text-black hover:text-[#ffdcd5] hover:rounded hover:bg-[#cb6ce6] hover:scale-105">Inicio</button>
        <button class="transition-transform italic font-bold pr-2 pl-2 cursor-pointer text-black hover:text-[#ffdcd5] hover:rounded hover:bg-[#cb6ce6] hover:scale-105">Sobre mí</button>
        <button class="transition-transform italic font-bold pr-2 pl-2 cursor-pointer text-black hover:text-[#ffdcd5] hover:rounded hover:bg-[#cb6ce6] hover:scale-105">Contacto</button>
    </span>
</nav>